#PlayingField {
    display: block;
    border-style: solid;
    border-color: black;
    block-size: 500px;
}

#registeration{
  display: block;
  margin-left: 500px;
  margin-top: 5px;
}

#title{
    display: block;
    margin-left: 512px;
    margin-top:200px;
}

#TotalScore {
    display: inline;
}

#score {
    display: inline;
}

#name {
    display: inline;
}

#Rounds {
    display: flex;
}

#RoundNumber {
    margin-top: auto;
}

#Freeze {
    display: flex;
    margin-left: 50%;
    margin-right: 50%;
}

#Roll {
    display: flex;
    margin-left: 50%;
    margin-right: 50%;
}

#DiceNumber {
    display: flex;
    margin-left: 50%;
    margin-right: 50%;
    font-size: 100px;
}

#GainedScore {
    display: inline;
}

#ObtainedScore {
    display: inline;
    margin-top: auto;
}